# Flask
markupsafe==2.0.1
Flask==1.1.4
Werkzeug==1.0.1
Flask-restx==0.2.0
Flask-SQLAlchemy==2.4.4
flask_migrate==2.7.0
Flask-Cors==3.0.10
Flask-HTTPAuth==4.4.0
Flask-JWT-Extended==4.1.0

# DB
SQLAlchemy==1.3.23
mysqlclient==2.1.0
alembic==1.5.5
SQLAlchemy-Utils==0.36.8
redis==3.5.3

# Test and Lint
pytest==6.2.2
coverage==5.5
mypy==0.942
pytest_mock==3.7.0

# Other
pydantic==1.9
python-dotenv==0.15.0
dependency-injector==4.38.0
stripe==2.56.0
requests==2.25.1
sentry-sdk==1.3.1
blinker==1.4  # Required by sentry-sdk
graypy==2.1.0
gunicorn==20.0.4
celery==5.0.5
kombu==5.1.0
python-dateutil==2.8.1
urllib3==1.26.7
RandomWords==0.4.0

# Test Tools
requests-mock==1.9.3